.password-field-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;

  .preview-password {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    transition: all 0.3s;
  }
}
